<%- include("./header") %>

    <h1>Test123</h1>

<%- include ("./footer") %>

<!-- <% for  (let i=0; i<data.length; i++) { %>
    <li><%= data[i] %></li>
<% } %> -->

<!-- <% if (showTitle) { %>
    <%- title %>
    
<% } else { %>
    <h1>Topics</h1>
<% } %> -->