<%- include("./header") %>

   <h1>Common topics</h1>
   
<% for (var index = 0; index < data.length; index++) { %>
    <section>
        <%= data[index].name%>
    </section>
 <% } %>
        
        <a href="/add">toevoegen</a>


<%- include ("./footer") %>
